material

# Kirby
content
assets/avatars
thumbs

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/


# Optional npm cache directory
.npm

# Kirby system files
# ------------

Icon
.DS_Store

# Temporary files
# ---------------

/thumbs/*
!/thumbs/index.html

/site/cache/*
!/site/cache/index.html

# -------------SECURITY-------------
# NEVER publish these files via Git!
# -------------SECURITY-------------

# Kirby accounts
# ---------------

/site/accounts/*
!/site/accounts/index.html

# Avatars
# ---------------

/assets/avatars/*
!/assets/avatars/index.html