$light: #fffef6;
$red: #d5404a;
html, body {
	width: 100%;
	height: 100%;
	background: black;
	margin: 0;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 18px;
	line-height: 1.1em;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
main {
	width: 100%;
	height: 100%;
	display: flex;
}
h1 {
	font-family: Helvetica, Arial, sans-serif;
	font-weight: 500;
	font-size: 28px;
	line-height: 28px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
}
h2 {
	font-size: 8.5px;
	line-height: 10px;
	text-transform: uppercase;
	a {
		color: inherit !important;
	}
}
form {
	width: 350px;
	height: 70vh;
	overflow: scroll;
	padding: 15px 13px 45px 15px;
	margin: auto;
	background: $light;
	color: $red;
	.field {
		width: calc(100% - 2px);
		border: solid $red;
		border-width: 1px 1px 0 1px;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		&:last-of-type {
			border-bottom-width: 1px;
		}
		&.error {
			background-color: #ffaa9b;
			input {
				background-color: #ffaa9b;
			}
		}
	}
	label {
		padding: 4px 0 0 4px;
		font-size: 12px;
		color: $red;
		text-transform: uppercase;
	}
	input, textarea {
		width: 100%;
		// width: 342px;
		margin: 0;
		font-size: 18px;
		background: none;
		border: none;
		&:focus {
			// background-color: #ffaa9b;
			outline: none;
		}
	}
	textarea {
		display: block;
	}
	input {
		height: 25px;
	}
	input[type=date] {
		background-image: url(images/arrow-down.png);
  	background-position: calc(100% - 10px) center;
  	background-repeat: no-repeat;
  	background-size: 15px;
		&::-webkit-clear-button, &::-webkit-calendar-picker-indicator {
			opacity: 0;
			cursor: pointer;
		}
		&::-webkit-inner-spin-button {
			display: none;
		}
	}
	input[type=email], input[type=text], input[type=date], textarea {
		font-family: Helvetica, Arial, sans-serif;
		border: none;
		padding-left: 5px;
		color: black;
		font-size: 12px;
		display: table;
		background-color: transparent !important;
	}
	select {
		display: none;
	}
	.select {
		position: relative;
		overflow: visible;
		.dropdown {
			min-height: 25px;
			border: none;
			font-size: 12px;
			cursor: pointer;
			-webkit-appearance: none;
	  	-webkit-border-radius: 0px;
	  	background-image: url(images/arrow-down.png);
	  	background-position: calc(100% - 10px) center;
	  	background-repeat: no-repeat;
	  	background-size: 15px;
			position: relative;
			.label {
				width: calc(100% - 10px);
				height: 25px;
				padding: 0 5px;
				font-size: 12px;
				color: black;
			}
	  	.options {
	  		min-width: 40%;
	  		top: 100%;
	  		right: -1px;
	  		border: solid $red;
				border-width: 1px;
	  		background-color: $light;
	  		position: absolute;
	  		display: none;
	  		z-index: 100;
	  		.option {
	  			width: calc(100% - 10px);
	  			font-size: 12px;
	  			padding: 0 5px;
	  			&.selected, &:hover {
	  				color: black;
	  			}
	  		}
			}
			&.opened {
				background-image: url(images/arrow-up.png);
				.options {
					display: block;	
				}
	  	}
		}
	}
	input[type=submit] {
		color: $light;
		background: $red;
		height: 35px;
		width: 350px;
		margin-top: 20px;
		border: none;
	}
}