@font-face {
	font-family: 'Maison Neue';
	src: url('./../fonts/MaisonNeue-NJ-Demi.woff') format('woff');
	font-weight: 500;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('./../fonts/MaisonNeue-NJ-Light.woff') format('woff');
	font-weight: 400;
}

$lightest: lightgrey;
$light: #fffdf6;
$red: #ce4049;
$pink: #ffaa9b;
$card: 725px;
html, body {
	width: 100%;
	height: 100%;
	background: $lightest;
	margin: 0;
	font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 17px;
  line-height: 22px;
	-webkit-font-smoothing: antialiased;
	* {
		-webkit-font-smoothing: antialiased;
	}
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
h1 {
	font-size: 28px;
	line-height: 28px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
}
h2 {
	font-size: 8.5px;
	line-height: 10px;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	a {
		color: inherit !important;
	}
}
main {
	width: 100%;
	height: 100%;
	display: block;
	position: fixed;
	left: 0;
	top: 0;
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
	perspective: 1000px;
}
nav {
	width: 300px;
	height: calc(100% - 40px);
	padding: 20px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	a {
		color: black;
		&.external {
			cursor: alias;
		}
	}
	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
	}
}
#card {
	width: $card;
	min-height: calc(100vh - 40px);
	margin: 0 auto 0 -9999999999px;
	background: $light;
	color: $red;
	box-shadow: -2px 4px 40px -9px rgb(140,140,140);
	pointer-events: all;
	position: absolute;
	left: calc(50% - #{$card/2});
	top: 40px;
	transition: transform 1s ease-in-out, height 500ms ease-in-out;
	transform-style: preserve-3d;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	z-index: 100;
	.content {
		width: calc(100% - 60px);
		height: calc(100% - 60px);
		padding: 30px;
		position: absolute;
		left: 0;
		top: 0;
		display: none;
		background: $light;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		transform-style: preserve-3d;
		overflow: hidden;
		* {
			backface-visibility: hidden;
			-webkit-backface-visibility: hidden;
		}
		a {
			color: $red;
			text-decoration: none;
		}
		.close {
			width: 20px;
			height: 20px;
			position: absolute;
			right: 10px;
			top: 10px;
			background-image: url(images/close.png);
			background-position: top center;
			background-repeat: no-repeat;
	    background-size: cover;
	    &:hover {
	    	cursor: pointer;
	    }
		}
		&.front, &.back {
			display: block;
		}
		&.back {
			transform: translate3d(0,0,0) rotateY(180deg);	
			backface-visibility: visible;
			-webkit-backface-visibility: visible;
		}
		&.show {
			height: auto;
			min-height: calc(100vh - 100px);
			z-index: 100;
		}
		&#posters {
			background-color: black;
			color: $light;
			.close {
				background-position: top center;
			}
		}
	}
	&.flipped {
		transform: translate3d(0,0,0) rotateY(180deg);
	}
	&.show {
		margin-left: auto;
	}
	.concerts {
		.concert {
			width: calc(100% - 10px);
			border: solid $red;
			border-width: 1px 1px 0 1px;
			padding: 4px;
			.date {
				text-transform: uppercase;
			}
			&:last-of-type {
				border-bottom-width: 1px;
			}
		}
	}
	.figures {
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		figure {
			width: calc(50% - 15px);
			height: auto;
			margin: 0 0 40px 0;
			img {
				width: 100%;
			}
			figcaption {
				text-transform: uppercase;
				font-size: 10px;
				line-height: 12px;
				text-align: center;
			}
			ul {
				padding: 0;
				margin: 0;
				list-style: none;
				li {
					margin: 5px 0 0 0;
					&.album_title {
						margin-bottom: 20px;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	form {
		width: 100%;
		.field {
			width: calc(100% - 2px);
			border: solid $red;
			border-width: 1px 1px 0 1px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			&.last {
				border-bottom-width: 1px;
			}
			&.error, &.focus {
				background-color: $pink !important;
				input, textarea {
					background-color: transparent !important;
				}
			}
		}
		label {
			padding: 4px 0 0 4px;
			font-size: 12px;
			color: $red;
			text-transform: uppercase;
			letter-spacing: 1px;
			pointer-events: none;
		}
		input, textarea, select {
			font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
			font-weight: 400;
			&:-webkit-autofill {
				background-color: transparent !important;
			}
		}
		input, textarea {
			margin: 0;
			font-size: 18px;
			background: none;
			border: none;
			&:focus {
				outline: none;
			}
		}
		input {
			height: 25px;
		}
		input[type=email], input[type=text], textarea {
			width: calc(100% - 6px);
			border: none;
			padding-left: 5px;
			color: black;
			font-size: 12px;
			display: table;
			background-color: transparent !important;
		}
		textarea {
			display: block;
			resize: none;
		}

		select {
			display: none;
		}
		.field.select, .field.date {
			position: relative;
			overflow: visible;
			background-image: url(images/arrow-down.png);
			background-position: calc(100% - 10px) 16px;
			background-repeat: no-repeat;
			background-size: 15px;
			cursor: pointer;
			.label {
				width: calc(100% - 10px);
				height: 25px;
				padding: 0 5px;
				font-size: 12px;
				color: black;
			}
			.dropdown {
				min-height: 25px;
				border: none;
				font-size: 12px;
				-webkit-appearance: none;
				-webkit-border-radius: 0px;
				position: relative;
				.inner {
					width: 100%;
					height: 0;
					background-color: $red;
					color: $light;
					display: block;
					z-index: 100;
					overflow: hidden;
					transition: height 100ms ease-in-out;
				}
			}
			&.opened {
				background-image: url(images/arrow-right.png);
				background-color: $pink;
				.options {
					
				}
			}
		}
		.field.select .dropdown {
			.option {
				width: calc(100% - 10px);
				font-size: 12px;
				padding: 0 5px;
				&.selected, &:hover {
					color: black;
				}
				&:first-child {
					padding-top: 5px;
				}
				&:last-child {
					padding-bottom: 5px;
				}
			}
		}
		.field.date {
			background-image: url(images/arrow-down.png);
			background-position: calc(100% - 10px) 16px;
			background-repeat: no-repeat;
			background-size: 15px;
			input {
				display: none;
			}
			a {
				color: $light;
				text-decoration: none;
			}
			.ui-datepicker-header {
				display: flex;
				margin-left: 5px;
				.ui-datepicker-title {
					order: 1;
					margin-right: .5em;
				}
				.ui-datepicker-prev {
					order: 2;
					margin-right: .5em;
				}
				.ui-datepicker-next {
					order: 3;
				}
			}
			table {
				clear: both;
				margin-left: 5px;
				a {
					color: $light !important;
				}
			}
		}
		.field.hidden {
			display: none;
		}
		input[type=submit] {
			color: $light;
			background: $red;
			height: 35px;
			width: 100%;
			margin-top: 20px;
			border: none;
			text-transform: uppercase;
			&:hover {
				cursor: pointer;
			}
		}
		ul.errors {
			text-transform: uppercase;
			margin: 0;
			padding: 1em 0 0 0;
			display: none;
			&.show {
				display: block;
			}
			li {
				font-size: 12px;
				line-height: 15px;
				list-style: none;
				&.error {
					display: none;
					&.show {
						display: block;
					}
					&::before {
						content: '*';
					}
				}
			}
		}
		.thankyou {
			font-size: 12px;
			line-height: 15px;
			padding: 1em 0 0 0;
			text-transform: uppercase;
			display: none;
		}
		&.submitted {
			.thankyou {
				display: block;
			}
		}
	}
}
@media all and (max-width: 736px) {
	#card {
		width: 80%;
		left: 10%;
	}
}

@media all and (max-width: 600px) {
	#card {
		width: 90%;
		left: 5%;
	}
}
		
@media all and (max-width: 480px) {
	main {
		overflow: hidden;
	}
	#card {
		width: 100%;
		height: 100%;
		min-height: auto;
		margin: 0;
		left: 0;
		top: 0;
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
	nav {
		width: calc(100% - 40px);
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
}