@font-face {
	font-family: 'Maison Neue';
	src: url('./../fonts/MaisonNeue-NJ-Demi.woff') format('woff');
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
}
@font-face {
	font-family: 'Maison Neue';
	src: url('./../fonts/MaisonNeue-NJ-Light.woff') format('woff');
	font-weight: 400;
}

@mixin underline($color, $bg) {
	text-decoration: none;
	display: inline;
	text-shadow: 1px 1px $bg, -1px 1px $bg, -1px -1px $bg, 1px -1px $bg;
	background-image: linear-gradient(90deg, $color 100%, transparent 100%);
	background-position: bottom;
	background-repeat: no-repeat;
	background-size: 100% 1px;
}

@mixin nounderline {
	text-shadow: none !important;
	background: none !important;
}

$lightest:  #c7c7c7;
$light: #fffdf6;
$red: #d5404a;
$pink: #ffaa9b;
$card: 725px;

html, body {
	width: 100%;
	height: 100%;
	background: $lightest;
	margin: 0;
	font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
	font-weight: 400;
	font-size: 16px;
	line-height: 25px;
}
::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}
h1 {
	font-size: 28px;
	line-height: 28px;
	margin: 0 0 10px 0;
	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 1px;
	-webkit-font-smoothing: antialiased;
}
main {
	height: 100%;
	display: table;
	margin: auto; 
	overflow-y: scroll; 
	-webkit-overflow-scrolling: touch;
	pointer-events: none;
	perspective: 1000px;
	transform-style: preserve-3d;
	position: relative;
	perspective: 1000px;
	z-index: 10000;
}
p {
	margin: 0 0 15px 0;
	&:last-of-type {
		margin: 0;
	}
}
a {
	color: black;
	@include underline(black, $lightest);
	&.external {
		cursor: alias;
	}
}
nav {
	width: calc(100% - 170px);
	max-height: calc(100% - 30px);
	position: fixed;
	left: 0;
	top: 0;
	padding: 30px 85px;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	.logo {
		img {
			width: 100px;
			height: auto;
		}
	}
	&.fixed {
		position: fixed;
		left: 0;
		top: 0;
	}
}
#card {
	width: $card;
	margin: 65px auto 65px -9999999999px;
	background: $light;
	color: $red;
	position: relative;
	transition: transform 500ms ease-in-out, height 500ms ease-in-out;
	pointer-events: all;
	z-index: 100;
	header {
		padding: 0 0 14px 4px;
		font-size: 9px;
		line-height: 11px;
		text-transform: uppercase;
		font-weight: 500;
		letter-spacing: .5px;
		-webkit-font-smoothing: antialiased;
		h1 {
			font-weight: 500;
			-webkit-font-smoothing: antialiased;
		}
		p {
			margin: 0;
		}
		a {
			color: inherit !important;
		}
	}
	.content {
		width: calc(100% - 30px);
		height: auto;
		padding: 15px 15px 50px 15px;
		display: none;
		background: $light;
		overflow: auto;
		a {
			color: $red;
			@include underline($red, $light);
		}
		.close {
			width: 30px;
			height: 30px;
			position: absolute;
			right: 10px;
			top: 10px;
			background-image: url(images/close-red.png);
			background-position: center;
			background-repeat: no-repeat;
			background-size: 12px;
			z-index: 9999;
			&:hover {
				cursor: pointer;
			}
		}
		&.show {
			display: block;
		}
		&#posters, &#discography {
			background-color: black;
			color: $light;
			padding-bottom: 5px;
			* {
				color: $light;
			}
			a {
				color: $light;
				@include underline($light, black);
			}
			svg {
				fill: $light;
			}
			.close {
				background-image: url(images/close-white.png);
			}
		}
		&:not(.form) {
			header {
				margin-bottom: 22px;
			}
		}
	}
	&.show {
		margin-left: calc(50% - #{$card/2});
	}
	.rows {
		.row {
			width: calc(100% - 10px);
			border: solid $red;
			border-width: 1px 1px 0 1px;
			padding: 4px;
			&:last-of-type {
				border-bottom-width: 1px;
			}
			.title {
				text-transform: uppercase;
			}
		}
	}
	.figures {
		padding: 0 5px;
		display: flex;
		justify-content: space-between;
		flex-wrap: wrap;
		figure {
			width: calc(50% - 25px);
			height: auto;
			margin: 0 0 40px 0;
			img {
				width: 100%;
				height: auto;
				display: table;
			}
			figcaption {
				text-transform: uppercase;
				font-size: 10px;
				line-height: 12px;
				text-align: center;
				font-weight: 500;
				-webkit-font-smoothing: antialiased;
				padding: 30px 0;
			}
		}
		&.discography {
			padding-top: 15px;
			figure {
				ul {
					padding: 0;
					margin: 0;
					list-style: none;
					li {
						margin: 0;
						&.album_title {
							margin: 0 0 20px 0;
						}
						a {
							@include nounderline;
						}
					}
				}
			}
		}
		&.posters {
			figure {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				.image {
					width: 100%;
					display: table;
				}
			}
		}
	}
	form {
		width: 100%;
		.field {
			width: calc(100% - 2px);
			border: solid $red;
			border-width: 1px 1px 0 1px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			&.last {
				border-bottom-width: 1px;
			}
			&.error, &.focus {
				background-color: $pink !important;
				input, textarea {
					background-color: transparent !important;
				}
			}
		}
		label {
			padding: 3px 0 0 4px;
			display: block;
			font-size: 12px;
			line-height: 14px;
			color: $red;
			text-transform: uppercase;
			letter-spacing: 1px;
			pointer-events: none;
			display: block;
		}
		input, textarea, select {
			font-family: 'Maison Neue', Helvetica, Arial, sans-serif;
			font-weight: 400;
			-webkit-appearance: none;
			&:-webkit-autofill {
				background-color: transparent !important;
			}
		}
		input, textarea {
			margin: 0;
			font-size: 12px;
			background: none;
			border: none;
			&:focus {
				outline: none;
			}
		}
		input {
			height: 25px;
		}
		input[type=email], input[type=text], textarea {
			width: calc(100% - 6px);
			border: none;
			padding-left: 5px;
			color: black;
			font-size: 12px;
			display: table;
			background-color: transparent !important;
		}
		textarea {
			display: block;
			resize: none;
		}

		select {
			display: none;
		}
		.field.select, .field.date {
			position: relative;
			overflow: visible;
			background-image: url(images/arrow-down.png);
			background-position: calc(100% - 10px) 16px;
			background-repeat: no-repeat;
			background-size: 15px;
			cursor: pointer;
			.label {
				width: calc(100% - 10px);
				height: 25px;
				padding: 0 5px;
				font-size: 12px;
				color: black;
			}
			.dropdown {
				min-height: 27px;
				border: none;
				font-size: 12px;
				-webkit-appearance: none;
				-webkit-border-radius: 0px;
				position: relative;
				.inner {
					width: 100%;
					height: 0;
					background-color: $red;
					color: $light;
					display: block;
					z-index: 100;
					overflow: hidden;
					transition: height 100ms ease-in-out;
				}
			}
			&.opened {
				background-image: url(images/arrow-right.png);
				background-color: $pink;
				.options {
					
				}
			}
		}
		.field.select .dropdown {
			.option {
				width: calc(100% - 10px);
				font-size: 12px;
				padding: 0 5px;
				text-transform: capitalize;
				&.selected, &:hover {
					color: black;
				}
				&:first-child {
					padding-top: 5px;
				}
				&:last-child {
					padding-bottom: 5px;
				}
			}
		}
		.field.date {
			background-image: url(images/arrow-down.png);
			background-position: calc(100% - 10px) 16px;
			background-repeat: no-repeat;
			background-size: 15px;
			input {
				display: none;
			}
			a {
				color: $light;
				text-decoration: none;
				@include nounderline;
			}
			.ui-datepicker-header {
				display: flex;
				margin-left: 5px;
				.ui-datepicker-title {
					order: 1;
					margin-right: 10px;
				}
				.ui-datepicker-prev {
					order: 2;
					margin-right: 10px;
				}
				.ui-datepicker-next {
					order: 3;
				}
			}
			.ui-datepicker-calendar {
				thead th {
					text-align: left;
					font-weight: 500;
					-webkit-font-smoothing: antialiased;
				}
				td {
					padding: 2px 3px;
				}
			}
			table {
				clear: both;
				margin-left: 5px;
				a {
					color: $light !important;
					@include nounderline;
				}
			}
		}
		.field.hidden {
			display: none;
		}
		input[type=submit] {
			color: $light;
			background: $red;
			height: 35px;
			width: 100%;
			margin-top: 20px;
			border: none;
			border-radius: 0;
			&:hover {
				cursor: pointer;
				background: #ce4049;
			}
		}
		ul.errors {
			text-transform: uppercase;
			margin: 0;
			padding: 1em 0 0 0;
			display: none;
			&.show {
				display: block;
			}
			li {
				font-size: 12px;
				line-height: 15px;
				list-style: none;
				&.error {
					display: none;
					&.show {
						display: block;
					}
					&::before {
						content: '*';
					}
				}
			}
		}
		.thankyou {
			font-size: 12px;
			line-height: 15px;
			padding: 1em 0 0 0;
			text-transform: uppercase;
			display: none;
		}
		&.submitted {
			.thankyou {
				display: block;
			}
		}
	}
}
@media all and (max-width: 736px) {
	main {
		width: 80%;
		#card {
			width: 100%;
			&.show {
				margin-right: auto !important;
				margin-left: auto !important;
			}
		}
	}
	nav {
		
	}
}
	
@media all and (max-width: 480px) {
	h1 {
		font-size: 22px;
		line-height: 22px;
	}
	main {
		overflow: hidden;
		width: 100%;
		#card {
			width: calc(100% - 20px);
			height: auto !important;
			min-height: auto;
			left: 10px;
			top: 0;
			overflow-y: scroll; 
			background-color: transparent;
			-webkit-overflow-scrolling: touch;
			.content {
				width: calc(100% - 20px);
				padding: 10px 10px 50px 10px;
				header h1 {
					width: calc(100% - 25px);
				}
				.close {
					top: 3px;
					right: 3px;
				}
				.figures {
					figure {
						width: 100%;
					}
					&.discography {
						ul, img {
							width: 100%;
							margin: 0;
						}
					}
				}
				&.show {
					display: block;
				}
				form select, form textarea, form input {
					font-size: 16px !important;
				}
				#player {
					.icon {
						width: 2em;
						height: 2em;
					}
					.play-pause {
						margin-left: -0.5em;
					}
				}
			}
			&.show {
				margin: 10px 0 !important;
			}
		}
	}
	nav {
    width: calc(100% - 10px);
    padding: 0px 5px;
		top: 0;
		bottom: auto;
		overflow-y: scroll; 
		-webkit-overflow-scrolling: touch;
	}
}