@font-face {
  font-family: 'Maison Neue Demi';
  src: url("./../fonts/MaisonNeue-Demi.woff2") format("woff2"), url("./../fonts/MaisonNeue-Demi.woff") format("woff"); }

@font-face {
  font-family: 'Maison Neue Light';
  src: url("./../fonts/MaisonNeue-Light.woff2") format("woff2"), url("./../fonts/MaisonNeue-Light.woff") format("woff"); }

html, body {
  width: 100%;
  height: 100%;
  background: black;
  margin: 0;
  font-family: 'Maison Neue Light', Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.1em;
  -webkit-font-smoothing: antialiased; }

::-webkit-scrollbar {
  width: 0px;
  background: transparent; }

main {
  width: 100%;
  height: 100%;
  display: flex; }

h1 {
  font-size: 28px;
  line-height: 28px;
  margin: 0 0 10px 0;
  text-transform: uppercase;
  font-family: 'Maison Neue Demi', 'Maison Neue Light', Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px; }

h2 {
  font-size: 8.5px;
  line-height: 10px;
  text-transform: uppercase;
  font-weight: normal;
  font-family: 'Maison Neue Demi', 'Maison Neue Light', Helvetica, Arial, sans-serif;
  font-weight: 500;
  letter-spacing: 1px; }
  h2 a {
    color: inherit !important; }

form {
  width: 350px;
  height: 70vh;
  overflow-y: auto;
  padding: 15px;
  margin: auto;
  background: #fffef6;
  color: #d5404a; }
  form .field {
    width: calc(100% - 2px);
    border: solid #d5404a;
    border-width: 1px 1px 0 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; }
    form .field:last-of-type {
      border-bottom-width: 1px; }
    form .field.error, form .field.focus {
      background-color: #ffaa9b !important; }
      form .field.error input, form .field.error textarea, form .field.focus input, form .field.focus textarea {
        background-color: transparent !important; }
  form label {
    padding: 4px 0 0 4px;
    font-size: 12px;
    color: #d5404a;
    text-transform: uppercase;
    letter-spacing: 1px; }
  form input, form textarea, form select {
    font-family: 'Maison Neue Light', Helvetica, Arial, sans-serif; }
    form input:-webkit-autofill, form textarea:-webkit-autofill, form select:-webkit-autofill {
      background-color: transparent !important; }
  form input, form textarea {
    margin: 0;
    font-size: 18px;
    background: none;
    border: none; }
    form input:focus, form textarea:focus {
      outline: none; }
  form input {
    height: 25px; }
  form input[type=email], form input[type=text], form textarea {
    width: calc(100% - 6px);
    border: none;
    padding-left: 5px;
    color: black;
    font-size: 12px;
    display: table;
    background-color: transparent !important; }
  form textarea {
    display: block;
    resize: none; }
  form select {
    display: none; }
  form .field.select, form .field.date {
    position: relative;
    overflow: visible;
    background-image: url(../images/arrow-down.png);
    background-position: calc(100% - 10px) 16px;
    background-repeat: no-repeat;
    background-size: 15px; }
    form .field.select .label, form .field.date .label {
      width: calc(100% - 10px);
      height: 25px;
      padding: 0 5px;
      font-size: 12px;
      color: black; }
    form .field.select .dropdown, form .field.date .dropdown {
      min-height: 25px;
      border: none;
      font-size: 12px;
      cursor: pointer;
      -webkit-appearance: none;
      -webkit-border-radius: 0px;
      position: relative; }
      form .field.select .dropdown .inner, form .field.date .dropdown .inner {
        width: 100%;
        height: 0;
        background-color: #d5404a;
        color: #fffef6;
        display: block;
        z-index: 100;
        overflow: hidden;
        transition: height 100ms ease-in-out; }
    form .field.select.opened, form .field.date.opened {
      background-image: url(../images/arrow-right.png); }
  form .field.select .dropdown .option {
    width: calc(100% - 10px);
    font-size: 12px;
    padding: 0 5px; }
    form .field.select .dropdown .option.selected, form .field.select .dropdown .option:hover {
      color: black; }
    form .field.select .dropdown .option:first-child {
      padding-top: 5px; }
    form .field.select .dropdown .option:last-child {
      padding-bottom: 5px; }
  form .field.date {
    background-image: url(../images/arrow-down.png);
    background-position: calc(100% - 10px) 16px;
    background-repeat: no-repeat;
    background-size: 15px; }
    form .field.date input {
      display: none; }
    form .field.date a {
      color: #fffef6;
      text-decoration: none; }
    form .field.date .ui-datepicker-header {
      display: flex;
      margin-left: 5px; }
      form .field.date .ui-datepicker-header .ui-datepicker-title {
        order: 1;
        margin-right: .5em; }
      form .field.date .ui-datepicker-header .ui-datepicker-prev {
        order: 2;
        margin-right: .5em; }
      form .field.date .ui-datepicker-header .ui-datepicker-next {
        order: 3; }
    form .field.date table {
      clear: both;
      margin-left: 5px; }
  form .field.dateSubmitted {
    display: none; }
  form input[type=submit] {
    color: #fffef6;
    background: #d5404a;
    height: 35px;
    width: 350px;
    margin-top: 20px;
    border: none;
    text-transform: uppercase;
    font-family: 'Maison Neue Light', Helvetica, Arial, sans-serif; }
    form input[type=submit]:hover {
      cursor: pointer; }
  form ul.errors {
    text-transform: uppercase;
    margin: 0;
    padding: 1em 0 0 0;
    display: none; }
    form ul.errors.show {
      display: block; }
    form ul.errors li {
      font-size: 12px;
      line-height: 15px;
      list-style: none; }
      form ul.errors li.error {
        display: none; }
        form ul.errors li.error.show {
          display: block; }
        form ul.errors li.error::before {
          content: '*'; }
  form.submitted {
    background-color: green; }

@media all and (max-width: 736px) {
  form {
    width: 80%;
    margin: 40px auto; } }

@media all and (max-width: 480px) {
  form {
    width: 100%;
    margin: 0; } }

@media all and (max-width: 320px) {
  form {
    width: 100%;
    margin: 0; } }
